# save, model, data폴더에 있는 파일들은 github에 push 안함
# 용량 커서 터짐
save/*
model/*
data/*
data1/*
data2/*
image_classifier/*
graph/*
structured_data_classifier/*
structured_data_classifier/trial_d1013428d902ef5e2730e0f1a531ae17/trial.json
structured_data_classifier/oracle.json
structured_data_classifier/trial_d1013428d902ef5e2730e0f1a531ae17/trial.json
